html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-family: sans-serif;
  font-size: 1.25em;
  color: #c155ad;
  background-color: black;
}

a:link {
    color: #f1bda1;
}

a:visited {
    color: #bd76f2;
}

blockquote {
  border-left: 5px solid #a9bad0;
  margin: 10px;
  padding: 10px;
}

@media (prefers-color-scheme: light) {
    html {
        color: black;
        background-color: #c155ad;
    }

    a:link {
        color: #4325ad;
    }

    a:visited {
        color: #d01973;
    }

    blockquote {
        border-left: 1px solid #402f88;
    }
}
